<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Reenvía las solicitudes de API y WebSockets al puerto 5999 -->
        <rule name="ProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:5999/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <webSocket enabled="false" />
  </system.webServer>
</configuration>